[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[packages]
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
babel = "*"
flask-wtf = "*"
flask-moment = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
